<<<<<<< HEAD
*{
  margin: 0;
  padding: 0;
  /* font-family: ; */
  /* box-sizing: ; */
}
=======
body {
  background: #c9eff0;
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.main {
  margin-top: 2em;
}

.boxes, #hourly-forecast:has(.hourlyItemHtml) {
  background-color: #ffffff;
  padding: 1em;
  border-radius: 10px;
  /* height: 100%; */
  margin: .5em;
}

#search-container {
  width: 100%;
}
h3{
  font-size:3rem!important;
}
input {
  width: 100%;
  padding: 8px;
  border: 2px solid #f4cabf;
  border-radius: 10px;
  margin-top: 20px;
}

#search-container button {
  background: #f4cabf;
  color: rgb(224, 45, 45);
  padding: 10px;
  /* margin: .5em; */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  font-size: 15px;
}

#search-container button:hover {
  background: rgb(224, 45, 45);
  color: white;
}

#hourly-forecast {
  margin-top: 1rem;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}
.hourly-item{
  width: 95px;
}
#info-div .col-6 .boxes{
  min-height: 275px;
}


#info-div>.row>.col .boxes{
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .main {
    height: 100vh;
  }

  #info-div .col-6 .boxes{
    min-height: 275px;
  }

  .boxes img{
    max-width: 200px;

  }

}
>>>>>>> db16d4a6e01fb62abdf6b9d86ba11497ea38d1f2